#form-section {
    /* width: 600px; */
    min-width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("background_img.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;

}

label {
    font-size: larger;
    font-weight: 500;
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
    }

    #form-section {
        min-width: 350px;
    }
}